@import "nav.css";
@import "project-card.css";
@import "footer.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;

}

.projects-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 100%;
}
/* @media only screen and (min-width:768px){
    .projects-grid{
        border: solid green 10px;
        grid-template-columns: 50% 50%;    }
} */

@media only screen and (min-width:1269px) {
    .projects-grid {
        grid-template-columns: 50% 50%;
    }
}