nav {
    box-shadow: 0px 0px 2px grey;
    background: white;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;

}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100%;
}

.nav-links {
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    border-radius: 2px;
}

.nav-link:hover {
    background: rgb(212, 212, 212);
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    cursor: pointer;
}

.logo-name {
    text-transform: capitalize;
    /* word-spacing: -7.6px; */
}
.blink {
    animation-name: blink;
    color: white;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
}

@keyframes blink{
    0% {color:white;}
    25%{color:white}
    26%{color:black}
    74%{color:black;}
    75%{color:white;}

}



.logo-image-container {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 2px black;
    height: 50px;
    width: 50px;
    filter: grayscale(0.2);
}

