nav {
    box-shadow: 0px 0px 2px rgb(128, 128, 128);
    background: white;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;

}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    height: 100%;
}

.nav-links {
    height: 100%;
    width: 500px;
    display: none;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    border-radius: 2px;
}

.nav-link:hover {
    background: rgb(212, 212, 212);
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    cursor: pointer;
}

.logo-name {
    text-transform: capitalize;
    /* word-spacing: -7.6px; */
}
.blink {
    animation-name: blink;
    color: white;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
}

@keyframes blink{
    0% {color:white;}
    25%{color:white}
    26%{color:black}
    74%{color:black;}
    75%{color:white;}

}



.logo-image-container {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 2px black;
    height: 50px;
    width: 50px;
    filter: grayscale(0.2);
}

.burger{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.264); */
    padding: 6px;
    cursor: pointer;
    background: white;
}
.bar{
    height: 2px;
    width: 100%;
    background: black;
}
.dropdown{
    position: absolute;
    top: 4rem;
    right: 0;
    display: none;
    height: auto;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.045);
    width: 30vw;
    z-index: 888;
    background: white;
    height: 200px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}
.dropdown-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.dropdown-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.dropdown-link:hover{
    background: rgb(206, 206, 206);
}

@media only screen and (min-width:768px){
    .burger{
        display: none;
    }
    .nav-links{
        display: flex;
    }
}